@{
    ViewBag.Title = "About ezGift";
}

<!--FINAL STYLING-->

<div class="sub-body about-background">
    <!-- ORIGINAL. CHANGED APPROACH  - WAS IN _Layout
        -->
    <div class="container body-content">


        <div class="some-opacity colorbackground">

            <div class="jumbotron some-opacity">


                <h2>@ViewBag.Title.</h2>
                <p>@ViewBag.Message</p>
                <br/>
                <br/>
                <h4>We strive to help you keep more of your time for fun.</h4>
                <h4>Accept that invitation with confidence.</h4>
                <h4>Find that perfect gift without losing all your hair in the process.</h4>

            </div>
        </div>
    </div>
</div>