@{
    ViewBag.Title = "Contact us";
}
<!--FINAL STYLING-->

<div class="sub-body contact-background">
    <div class="small-jumbotron small-jumbotron-contact less-opacity">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>

            <address>
                1445 West Norwood Avenue<br />
                Itasca, IL 60143<br />
                <abbr title="Phone">P:</abbr>
                (630) 773-2090
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Willy@wonka.com">Willy@wonka.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Oompa@loompa.com">Oompa@loompa.com</a>
            </address>
    </div>
</div>
