@{
    ViewBag.Title = "Home Page";
}

<!--FINAL STYLING-->

<div class="sub-body home-background">
    <!-- ORIGINAL. CHANGED APPROACH  - WAS IN _Layout
        -->
    <div class="container body-content">

        <div class="less-opacity colorbackground">

        <div class="jumbotron some-opacity">

                <h1>ezGift</h1>
                <p class="lead">The perfect gift every time.</p>
                <!--
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                -->
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h2>Create a Profile</h2>
                        <p>
                            Your profile is the first step to ensuring your special person will receive gifts they will love. From your Profile, you can create events and gift registries for your events.
                        </p>
                        <p>
                            <a class="btn btn-primary" href='@Url.Action("Index", "UserProfile")'>
                                User Profile
                            </a>
                        </p>

                    </div>
                    <div class="col-md-4">
                        <h2>Create Events</h2>
                        <p>Let your friends know the information about your special event. Create events for your special days to share with your family and friends.</p>
                        <p>
                            <a class="btn btn-primary" href='@Url.Action("Index", "RegistryEvent")'>
                                Events
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Create Gift Registries</h2>
                        <p>Your family and friends will be thrilled to see the excitement in the eyes of your special person when they receive a perfect gift from their gift registry.</p>
                        <p>
                            <a class="btn btn-primary" href='@Url.Action("Index", "RegistryEvent")'>
                                via Events
                            </a>
                        </p>
                    </div>
                </div>

            </div>


        </div>


    </div>

